* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  /* flex-wrap: nowrap | wrap | wrap-reverse; */
  /* flex-direction: row |  row-reverse | column | column-reverse; */
  /* align-items: center | flex-start | flex-end; */
  /* justify-content: center | flex-start | flex-end | space-evenly | space-between | space-around; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.box {
  margin: 20px;
  height: 300px;
  width: 300px;
  border: 1px solid red;
  background-color: rgb(38, 0, 255);
}
